@import "variables";

:host {
    ::ng-deep ion-content {
        --background: $gray;
    }
}

.library {
    display: flex;
    flex-direction: column;
    // height: calc(100% - 66px);
    padding-top: 0px;
    background: $white;

    border-top-right-radius: 15px;
    border-top-left-radius: 15px;

    &__header {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 22px 32px;
        border-bottom: 0.5px solid $gray;

        ion-searchbar {
            height: 40px;
        }
        ion-button {
            height: 36px;
            width: 44px;
        }
        ion-icon {
            font-size: 14px;
        }

        ion-item {
            height: 40px;
            box-shadow: 0 3px 6px 0 $light-gray1;
            border: 1px solid $gray;
            --padding-start: 10px;

            &:first-of-type {
                width: 35%
            }
            &:last-of-type {
                width: 60%;
            }

            ion-select {
                max-width: 100%;
                --padding-start: 0px;
                width: 100%;
            }
        }
    }

}
.slide {
    position: relative;
    width: 162px;
    border-bottom: 0.5px solid $gray;
    box-shadow: 0 3px 6px 0 $light-gray1;
    border-radius: 2px;

    ion-img {
        height: 100px;
        width: auto;
        background-color: $gray1;
    }

    &__title {
        margin: 0;
        padding-top: 15px;
        padding-bottom: 15px;
        font-family: $font-family-oswald;
        font-size: 16px;
        font-weight: 300;
        color: $dark-gray1;
    }
}

.md,
.ios,
.wp {
    .swiper-slide {
        width: 176px !important;
    }
}

.library__list {
    padding: 0 32px;

    ion-card {
        margin-left: 0;
        margin-right: 0;
        border-radius: 2px;
    }
}

.card-program {
    display: flex;

    &__img {
        width: 115px;
        height: 100px;
        background-color: $gray1;
    }

    &__wrapper {
        flex: 1 0 auto;
        display: flex;
        flex-direction: column;
        padding: 18px;
    }
    &__title {
        margin-bottom: 2px;

        font-family: $font-family-oswald;
        font-size: 20px;
        line-height: 30px;
        font-weight: 300;
        color: $dark-gray1;
    }

    &__test {
        font-family: $font-family-helvetica;
        font-weight: 300;
        font-size: 12px;
        line-height: 15px;
        color: $blue2;
    }

}
