$white: #ffffff;

$ligth-black: #2D2D2D;

$light-gray: #CBCBCB;
$gray: #DFE5EE;
$dark-gray: #4E4E4E;


$blue: #009AEA;

$font-family: "Open Sans", sans-serif;

$font-family-helvetica: "Helvetica Neue", Helvetica, Arial, sans-serif;

$font-family-oswald: "Oswald", sans-serif;
