<ion-header>
  <ion-toolbar class="ion-justify-content-start">
    <ion-buttons slot="start" class="pl28">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <div class="d-flex ion-justify-content-between ion-align-items-center pr12">
      <ion-text class="page-title">{{titlePage}}</ion-text>
      <ion-button class="barcode" size="small"><ion-img src="/assets/images/svg-icons/ios-barcode.svg"></ion-img></ion-button>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="mt20">
  <ng-content></ng-content>
</ion-content>
