<div class="upload-photo ion-padding-start ion-padding-end">
  <div class="upload-photo__preview">

  </div>

  <span class="upload-photo__title">Upload a photo</span>

  <span class="upload-photo__text">App feature blurb to go here, try not to exceed three lines. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore</span>

  <ion-button expand="full" (click)="nextSlide()" color="secondary" class="upload-photo__btn">
    <div class="d-flex flex ion-justify-content-center ion-align-items-center">
      <div class="upload-photo__btn-text">Get started</div>
      <ion-icon name="arrow-forward"></ion-icon>
    </div>
  </ion-button>
</div>
